/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: 0.9em;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  border: 1px solid mix(#000, $border-color, 25%);
}

th {
  padding: 6px 13px;
  font-weight: bold;
  text-align: center;
  border: 1px solid mix(#000, $border-color, 25%);
}

td {
  padding: 6px 13px;
  border: 1px solid mix(#000, $border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
}

tr:nth-child(2n) {
  background-color: #e7ecf0;
}
